<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/menu_main.css" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body id="top">
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">Homesdoor</a>
			<nav id="nav">
				<a href="/">Home</a>
				<a href="/category">Category</a>
				<a href="/services">Services</a>
				<a href="/maps">house Maps</a>
				<a href="/career">Career</a>
				<a href="/blog">Blogs</a>
				<a href="/contact">Contact</a>
				<a href="/upload">Upload</a>
				<a href="/register">Login/Register</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>
	<div class="main">
		<div class="row">
			<br /><br /><br /><br /><br /><br />
			<form>
				<div class="col-md-12 col-sm-12">
					<div class="form-group col-md-6 col-sm-6">
						<label for="name">Title*</label>
						<input type="text" class="form-control input-sm" id="name" placeholder="">
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label for="address">Description*</label>
						<textarea class="form-control input-sm" id="address" rows="3"></textarea>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" id="deceased">
					<div class="form-group col-md-4 col-sm-4">
						<label for="email">Width*</label>
						<input type="email" class="form-control input-sm" id="email" placeholder="">
					</div>
					<div class="form-group col-md-1 col-sm-1">
						<p class=" input-sm"></p>
						<p class="row">X</p>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="city">Height*</label>
						<input type="text" class="form-control input-sm" id="city" placeholder="">
					</div>

					<div class="form-group col-md-3 col-sm-3">
						<label for="units">Select Units*</label>
						<select class="form-control" id="units">
							<option>inch</option>
							<option>feet</option>
							<option>cm</option>
							<option>meter</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" id="deceased">
					<div class="form-group col-md-4 col-sm-4">
						<label for="city">No. of Rooms*</label>
						<input type="text" class="form-control input-sm" id="city" placeholder="">
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="city">No. of Floors*</label>
						<input type="text" class="form-control input-sm" id="city" placeholder="">
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="units">Showing mode*</label>
						<select class="form-control" id="units">
							<option>Public</option>
							<option>Protected</option>
							<option>Private</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" id="deceased">
					<div class="form-group col-md-4 col-sm-4">
						<label for="units">Facing*</label>
						<select class="form-control" id="units">
							<option>North</option>
							<option>South</option>
							<option>East</option>
							<option>West</option>
						</select>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="units">Vastu*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="units">Porch*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 col-sm-12" id="deceased">
					<div class="form-group col-md-3 col-sm-3">
						<label for="units">Lawn*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>

					<div class="form-group col-md-3 col-sm-3">
						<label for="units">Servent Room*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
					<div class="form-group col-md-3 col-sm-3">
						<label for="units">Pooja Room*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
					<div class="form-group col-md-3 col-sm-3">
						<label for="units">Store Room*</label>
						<select class="form-control" id="units">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
<div class="col-md-12 col-sm-12" id="deceased">
					<div class="form-group col-md-4 col-sm-4">
						<label for="file1">Map Digital*</label>
						<input type='file' id="file1" />
					</div>

					<div class="form-group col-md-4 col-sm-4 pull-left">
						<label for="file2">Map Handmade*</label>
						<input type='file' id="file2" />
					</div>

					<div class="form-group col-md-3 col-sm-3 pull-right">
						<label for="photo">Estimated Budget*</label>
						<input type='text' class="form-control input-sm" id="amount" placeholder="Total Amount" />
					</div>
</div>

					<div class="col-md-12 col-sm-12">
						<div class="form-group col-md-3 col-sm-3 pull-right">
							<input type="submit" class="btn btn-primary" value="Submit" />
						</div>
					</div>
			</form>
		</div>

	</div>
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<h2>Etiam veroeros lorem</h2>
			<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec.
				Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur
				risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat
				venenatis. </p>

			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
					href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>